/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: "Inter", sans-serif;
}

/* shared style */
.learn-more-btn{

    width: 171px;
    height: 47px;
    padding: 12px 20px 12px 20px;
    margin: 32px 0px;

    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;

}

/* banner */
.banner-section-container {
    max-width: 1440px;
    height: 570px;
    background-image: url(../assets/Hero-bg.png);
}

.banner-content {
    width: 998px;
    height: 542px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}

.banner-img{
    width: 100%;
    height: 50%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


}

.banner-title{
    width: 100%;
    height: 50%;
    margin: 24px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 294px;
    margin-left: 294px;

}

#title-des {
    margin-top: 25px;
    margin-right: 73px;
    margin-left: 73px;
}

.btn-contact {
    color: white;
    background-color: rgb(13, 19, 33);

   
    width: 150px;
    height: 46px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;
    }

/* why web */
.why-web-container {
    width: 1140px;
    height: 1210px; 
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 150px;
}

.why-web-title {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    margin: 0 auto;
    padding: 80 97;
    
}

#title-set{
    font-size: 32px;

}

#title-des{
    color: rgb(13, 19, 33);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: center;
}

.reasons-container {
    width: 100%;
    /* border: 2px solid red; */
}

.first{
    margin-top: 90px;
    width: 946px;
    height: 336px;
    display: flex;
    padding: 45;
    justify-content: space-between;
}

.f1-tp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f1-img{
    /* Group */
    width: 259.56px;
    height: 217.01px;
    margin: 0 auto;
    align-items: center;
}

.second{
    width: 946px;
    height: 336px;
    display: flex;
    padding: 45;
    justify-content: space-between;
}

.f2-tp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f2-img{
   /* Group */
    width: 223.2px;
    height: 208.85px;
    margin: 0 auto;
    align-items: center;
}

.third{
    width: 946px;
    height: 336px;
    display: flex;
    padding: 45;
    justify-content: space-between;
}

.f3-tp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f3-img{
    /* Group */
    width: 259.56px;
    height: 217.01px;
    margin: 0 auto;
    align-items: center;
}

/* video */
.inspiration{
    width: 1140px;
    height: 775px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    gap: 28px;
}

.yt-title{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    /* border: 2px solid green; */
}

.yt-video{
    width: 1140px;
    height: 614px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

#yt {
    width: 1076px;
    height: 550px;
    flex: none;
    margin: 10px 0px;
    border-radius: 16px;
}

